Instructions:
* Always check the '/docs/user-flow.md' file for the latest information about the user flow.
* Always check the '/docs/project-todo.md' file for the latest information about the project.
* Always use type safety is paramount, should be used everywhere and shared between frontend and backend.
* Always use the latest version of the libraries.
* Never stop and start the backend or frontend servers unless explicitly told to do so.
* Always update the '/docs/user-flow.md' file with the latest information about the user flow.
* Always update the '/docs/project-todo.md' and expand on the tasks. If there are no tasks, create some,
add robust checklists.
* Always update the README.md file with the latest information about the project.
* Always update the '/docs/database.md' file with the latest information about the database.

Database information:
- PostgreSQL
- Information to be added to the '/docs/database.md' file:
  - Tables
  - Columns
  - Relationships
  - Indexes
  - Triggers
  - Views
  - Types

Project objective:
- Create a task management system with the following features:
  - Create a task
  - Update a task
  - Delete a task
  - View all tasks
  - View a task

Project structure:
- Backend: Go; /backend
- Database: PostgreSQL
- Frontend: Vite + TailwindCSS; /src
- Tests: Playwright; /e2e

Commands:
- Run backend: 'go run cmd/main.go'
- Run frontend: `pnpm run dev`
- Run e2e tests: `pnpm test`

